<!-- wp:template-part {"slug":"header","area":"header"} /-->
<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
  <!-- wp:group {"className":"dm-page-hero","layout":{"type":"constrained"}} -->
  <div class="wp-block-group dm-page-hero"><!-- wp:post-title {"level":1,"textAlign":"center"} /--></div>
  <!-- /wp:group -->
  <!-- wp:group {"className":"dm-content","layout":{"type":"constrained"}} -->
  <div class="wp-block-group dm-content"><!-- wp:post-content /--></div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
